<div class="container flex mx-auto my-10">
  <article>
    <h1 class="text-2xl font-bold leading-7 sm:truncate sm:text-3xl sm:tracking-tight">Disclaimer voor SriLankaReis reisbureau</h1>

    <p>Deze disclaimer is van toepassing op de website en/of mobiele applicatie van SriLankaReis, hierna te noemen "Reisbureau."</p>
    <p><strong>1. Algemene aard van de informatie</strong></p>
    <p>1.1 De informatie verstrekt door het Reisbureau via de website en/of mobiele applicatie is uitsluitend bedoeld voor algemene informatiedoeleinden. Het Reisbureau spant zich in om de verstrekte informatie actueel en accuraat te houden, maar geeft geen garanties met betrekking tot de nauwkeurigheid, volledigheid of actualiteit van de informatie.</p>
    <p><strong>2. Geen aansprakelijkheid voor fouten of omissies</strong></p>
    <p>2.1 Het Reisbureau aanvaardt geen enkele aansprakelijkheid voor eventuele fouten of omissies in de verstrekte informatie. De Klant begrijpt dat reisgegevens, tarieven en beschikbaarheid kunnen veranderen en dat het Reisbureau niet verantwoordelijk is voor dergelijke wijzigingen.</p>
    <p><strong>3. Geen garanties voor diensten van derden</strong></p>
    <p>3.1 Het Reisbureau kan links naar websites van derden en diensten van derden verstrekken. Het Reisbureau heeft geen controle over de inhoud, nauwkeurigheid of beschikbaarheid van dergelijke websites en diensten van derden, en aanvaardt geen enkele verantwoordelijkheid of aansprakelijkheid voor deze.</p>
    <p><strong>4. Reisadvies en -informatie</strong></p>
    <p>4.1 Alle reisadviezen en -informatie op de website en/of mobiele applicatie van het Reisbureau worden verstrekt op basis van de beschikbare informatie en dienen niet als juridisch, medisch, financieel of professioneel advies te worden beschouwd.</p>
    <p><strong>5. Gebruik op eigen risico</strong></p>
    <p>5.1 Het gebruik van de informatie, diensten en links verstrekt door het Reisbureau is geheel voor eigen risico van de gebruiker.</p>
    <p><strong>6. Beperking van aansprakelijkheid</strong></p>
    <p>6.1 Het Reisbureau is op geen enkele manier aansprakelijk voor enige directe, indirecte, incidentele, gevolg- of speciale schade of verlies die voortvloeit uit het gebruik van de website en/of mobiele applicatie, inclusief maar niet beperkt tot verlies van winst, inkomsten, of gegevens.</p>
    <p><strong>7. Wijzigingen in de disclaimer</strong></p>
    <p>7.1 Het Reisbureau behoudt zich het recht voor om deze Disclaimer op elk moment te wijzigen of bij te werken. Het is de verantwoordelijkheid van de gebruiker om deze Disclaimer regelmatig te raadplegen voor eventuele wijzigingen.</p>
    <p>Door gebruik te maken van de website en/of mobiele applicatie van SriLankaReis, erkent de gebruiker dat hij/zij deze Disclaimer heeft gelezen, begrepen en ermee instemt gebonden te zijn aan de hierin uiteengezette voorwaarden.</p>
    <p><strong>Laatst bijgewerkt op <%= Time.zone.now.to_formatted_s(:long) %>.</strong></p>
  </article>
</div>
