<div class="container flex mx-auto my-10">
  <article>
    <h1 class="text-2xl font-bold leading-7 sm:truncate sm:text-3xl sm:tracking-tight">Privacybeleid voor SriLankaReis reisbureau</h1>

    <p>Dit Privacybeleid ("Beleid") is van toepassing op de diensten van SriLankaReis, een bedrijf gevestigd in Nijmegen, hierna te noemen "Reisbureau."</p>
    <p><strong>1. Verzamelde informatie</strong></p>
    <p>1.1 Het Reisbureau verzamelt persoonlijke informatie van gebruikers wanneer ze onze website en/of mobiele applicatie bezoeken, informatie verstrekken bij het boeken van reizen, zich abonneren op nieuwsbrieven of anderszins met ons communiceren. De verzamelde informatie kan onder meer omvatten: naam, contactgegevens, betalingsinformatie, reisvoorkeuren en andere relevante gegevens.</p>
    <p>1.2 Het Reisbureau kan automatisch bepaalde informatie verzamelen, zoals IP-adressen, browsertype, besturingssysteem, verwijzings-URL's en andere technische gegevens.</p>
    <p><strong>2. Gebruik van verzamelde informatie</strong></p>
    <p>2.1 Het Reisbureau gebruikt verzamelde informatie voor de volgende doeleinden:</p>
    <ul>
      <li>Het verwerken van reisboekingen en betalingen.</li>
      <li>Het verstrekken van reisinformatie en -diensten.</li>
      <li>Het personaliseren van de gebruikerservaring.</li>
      <li>Het verzenden van nieuwsbrieven en marketingcommunicatie (met toestemming).</li>
      <li>Het beheren van klantrelaties en klantenondersteuning.</li>
      <li>Het verbeteren van onze diensten en website.</li>
    </ul>
    <p><strong>3. Bescherming van informatie</strong></p>
    <p>3.1 Het Reisbureau streeft ernaar persoonlijke informatie te beschermen en heeft passende technische en organisatorische beveiligingsmaatregelen geïmplementeerd om gegevens te beschermen tegen ongeautoriseerde toegang, verlies of openbaarmaking.</p>
    <p><strong>4. Delen van informatie</strong></p>
    <p>4.1 Het Reisbureau deelt persoonlijke informatie alleen zoals nodig voor de doeleinden uiteengezet in dit Beleid, met inbegrip van het delen met leveranciers en partners die betrokken zijn bij de levering van reisdiensten.</p>
    <p>4.2 Het Reisbureau deelt persoonlijke informatie niet met derden voor marketingdoeleinden zonder uitdrukkelijke toestemming van de gebruiker.</p>
    <p><strong>5. Cookies en trackingtechnologie</strong></p>
    <p>5.1 Het Reisbureau kan cookies en andere trackingtechnologieën gebruiken om gebruikerservaring te verbeteren en websiteanalyse uit te voeren. Gebruikers kunnen browserinstellingen aanpassen om het gebruik van cookies te beheren.</p>
    <p><strong>6. Toegang en beheer van persoonlijke informatie</strong></p>
    <p>6.1 Gebruikers hebben het recht om toegang te krijgen tot hun persoonlijke informatie, deze te corrigeren, bij te werken of te verwijderen. Neem contact op met het Reisbureau voor assistentie.</p>
    <p><strong>7. Wijzigingen in dit beleid</strong></p>
    <p>7.1 Het Reisbureau behoudt zich het recht voor om dit Beleid op elk moment te wijzigen of bij te werken. Gebruikers worden op de hoogte gebracht van wijzigingen via een kennisgeving op de website en/of mobiele applicatie.</p>
    <p>Door gebruik te maken van de diensten van SriLankaReis erkent de gebruiker dat hij/zij dit Privacybeleid heeft gelezen, begrepen en ermee instemt gebonden te zijn aan de hierin uiteengezette voorwaarden.</p>
    <p><strong>Laatst bijgewerkt op 28-10-2023.</strong></p>
  </article>
</div>