<div class="container flex mx-auto my-10">
  <article>
    <h1 class="text-2xl font-bold leading-7 sm:truncate sm:text-3xl sm:tracking-tight">Algemene overeenkomst</h1>

    <p>Dit is een overeenkomst tussen SriLankaReis, een bedrijf gevestigd in Nijmegen, hierna te noemen "Reisbureau," en de klant, hierna te noemen "Klant."</p>
    <p><strong>1. REISPRIJS EN BETALING</strong></p>
    <p>1.1 De Klant is verantwoordelijk voor de betaling van de totale reisprijs zoals overeengekomen tussen de Klant en het Reisbureau.</p>
    <p>1.2 Betalingen kunnen worden gedaan via de website of elders en moeten worden voltooid volgens het betalingsschema dat is overeengekomen met het Reisbureau.</p>
    <p><strong>2. ANNULERING EN WIJZIGING</strong></p>
    <p>2.1 De Klant begrijpt dat reisboekingen onderhevig kunnen zijn aan annuleringskosten en wijzigingskosten zoals uiteengezet in de beleidslijnen van het Reisbureau. Deze kosten kunnen variëren op basis van de specifieke reis en de annulerings- of wijzigingsdatum.</p>
    <p>2.2 Het Reisbureau behoudt zich het recht voor om reisroutes en reisgidsen te wijzigen als dat nodig wordt geacht als gevolg van onvoorziene omstandigheden. Het Reisbureau zal de Klant onmiddellijk op de hoogte brengen van dergelijke wijzigingen.</p>
    <p><strong>3. REISDOCUMENTEN EN VERZEKERING</strong></p>
    <p>3.1 De Klant is verantwoordelijk voor het verkrijgen van alle vereiste reisdocumenten, waaronder paspoorten en visa.</p>
    <p>3.2 Het wordt sterk aanbevolen dat de Klant reisverzekering afsluit voor de duur van de reis.</p>
    <p><strong>4. AANSPRAKELIJKHEID EN GARANTIES</strong></p>
    <p>4.1 Het Reisbureau garandeert dat het de diensten zal leveren zoals overeengekomen in deze Overeenkomst en dat de reis zal voldoen aan de beschrijving die aan de Klant is verstrekt.</p>
    <p>4.2 Het Reisbureau is niet aansprakelijk voor vertragingen, verlies, schade, ongevallen of kosten die buiten zijn controle liggen.</p>
    <p><strong>5. KLACHTEN EN GESCHILLEN</strong></p>
    <p>5.1 Eventuele klachten met betrekking tot de reisdiensten moeten onmiddellijk worden gemeld aan het Reisbureau, zodat passende maatregelen kunnen worden genomen.</p>
    <p>5.2 Geschillen die voortvloeien uit deze overeenkomst zullen in goed vertrouwen worden opgelost tussen het Reisbureau en de Klant.</p>
    <p><strong>6. TOEPASSELIJK RECHT EN JURISDICTIE</strong></p>
    <p>6.1 Deze Overeenkomst wordt beheerst door de wetten van Sri Lanka en eventuele geschillen zullen worden voorgelegd aan de bevoegde rechtbanken in <a href="https://www.rijksoverheid.nl/onderwerpen/ambassades-consulaten-en-overige-vertegenwoordigingen/overzicht-landen-en-gebieden/sri-lanka" target="_blank">Sri Lanka</a>.</p>
    <p>Door het aangaan van deze Overeenkomst erkent de Klant dat hij/zij de voorwaarden en bepalingen van deze Overeenkomst heeft gelezen en begrepen, en dat hij/zij ermee instemt gebonden te zijn aan deze voorwaarden en bepalingen.</p>
    <p><strong>ONDERTEKEND OP <%= Time.zone.now.to_formatted_s(:long) %>.</strong></p>
    <p><em>Voor SriLankaReis: </em>M. van der Heiden</p>
  </article>
</div>