<div class="container mx-auto">
  <div class="flex justify-between items-center my-2">
    <h1 class="font-bold text-4xl"><%= Destination.model_name.human(count: 2) %></h1>
    <%= link_to "New destination", new_destination_path, class: "btn btn-primary" %>
  </div>

  <div class="w-full my-2">
    <% if notice.present? %>
      <p class="py-2 px-3 bg-green-50 mb-5 text-green-500 font-medium rounded-lg inline-block" id="notice"><%= notice %></p>
    <% end %>

    <div id="destinations" class="min-w-full">
      <%= render @destinations %>
    </div>
  </div>
</div>
